

#mapid{

    height: 400px;
    width: 80%;
    margin: 0 auto;
   border-radius: 2%;
   
}
h1{
    text-align: center;
    color: rgb(51, 4, 73);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
h2{
    text-align: center;
    color: rgb(12, 46, 201);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h5{
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
body{
    background-color: rgb(213, 238, 224);
}
